<mat-sidenav-container
  class="sidenav-container"
  style="background-color: rgb(245, 246, 247)"
>
  <mat-sidenav
    class="sidenav"
    style="background-color: white"
    opened
    mode="side"
  >
    <mat-toolbar style="background-color: white">
      <h5 class="amucomt toolbar_title">Inventory Control</h5>
    </mat-toolbar>
    <mat-list>
      <a mat-list-item routerLink="/home"> Stock </a>
      <a mat-list-item routerLink="/categories"> Categories </a>
      <a mat-list-item routerLink="/products"> Products </a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <span class="drawer_title"> {{ route }} </span>
      <span>
        <button routerLink="/login" mat-button class="shadow">
          <mat-icon>power_settings_new</mat-icon>
          Salir
        </button>
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>