.products-page {
  padding: 1rem;
}

.products-page section {
  margin-bottom: 1rem;
  padding: 1rem;
}

.product-form-inputs {
  display: flex;
}

.product-form-inputs section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.category-form-item {
  margin: 0 1rem;
}

table {
  width: 100%;
}

table th, td {
  text-align: center;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
  margin-inline: 0.25rem;
}

.search {
  width: 100%;
}