<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#">History Products</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">    
        <a class="nav-item nav-link" (click)="goProduct()">Products</a>
        <a class="nav-item nav-link" (click)="goSearchProduct()">Search Products</a>
        <a class="nav-item nav-link" (click)="goCategoryProduct()">Category products</a>        
        <a href="" class="nav-item nav-link" (click)="destroySession()"> Sign Up</a>     
      </div>
    </div>
  </nav>