.category-form-section {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 40%;
}
.category-form-section mat-card {
  width: 50%;
  height: 13rem;
}

.category-form {
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
}

.category-form-item {
  margin: 0 1rem;
}

.categories {
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    flex-direction: column;
    width: 50%;
}

.categories mat-list {
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.categories-page {
  display: flex;
}

.search-category {
  width: 55%;
}